<link rel="stylesheet" href="~/css/login.css">
<form asp-action="Login" method="get">
    <h2>Accedi</h2>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">ACCEDI</button>
</form>
