@if ruolo=dipendente 

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="topnav">
        <a asp-action="ElencoLavoratori" asp-controller="Azienda">Elenco 
            <br>
            lavoratori
        </a>
        <a asp-action="CalendarioLavoratori" asp-controller="Azienda">Calendario 
            <br>
            lavoratori
        </a>
        <div class="immagine">
            <a asp-action="Index" asp-controller="Home">
                <img src="~/immagini/hrneuxs-high-resolution-logo-transparent.png" alt="Logo">
            </a>
        </div>
        <a asp-action="GestioneAssenze" asp-controller="Azienda">Gestione
            <br>
            permessi/ferie/malattie
        </a>
        <a asp-action="GestioneValutazioni" asp-controller="Azienda">Valutazione</a>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <div class="footer">
        <p>Copyright © 2024 HrNeuxs Management.</p>
    </div>
</body>
</html>
