<link rel="stylesheet" href="~/css/login.css">
<form>
    <h2>Accedi</h2>
    <div>
        <label for="email">Username</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Accedi</button>
</form>