.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #91bfca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ffffff;
    color:black;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}