.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.search:focus {
    border-color: #ffffff;
    outline: none;
}

.search-btn {
    background-color: rgba(0, 0, 0, 0.774); /* Trasparente */
    
    color: rgb(255, 255, 255); /* Testo bianco con opacità 50% */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; /* Effetto di transizione per il cambio di colore */
  }
  
  .search-btn:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Sfondo bianco con opacità 50% */
    color: #000; /* Testo nero */
  }

  .calendar-container {
      background-color: #ffffff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 30px; /* Aumentato da 20px a 30px */
      max-width: 700px; /* Aumentato da 600px a 700px */
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
.nav-month {
    display: flex;
    justify-content: center;
}

.form-month {
    display: flex;
    width: 100%;
    justify-content: center;
}


.month-selector {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 20px;
}

.month-selector button {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 20px; 
}

.month-selector button:hover {
    background-color: #f8f8f8;
    color: #000;
}

.month-selector #current-month {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-transform: capitalize; 
    margin: 0 40px; 
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px; 
    width: 100%;
}

.calendar .day,
.calendar .day-of-week {
    padding: 5px; 
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f9fa;
    transition: background-color 0.3s, transform 0.3s;
    box-sizing: border-box;
}

.calendar .day-of-week {
    background-color: #ececec;
    font-weight: bold;
}

.calendar .day:hover {
    background-color: #e9e9e9;
    transform: scale(1.05);
}

.day.empty {
    background-color: transparent;
    border: none;
    cursor: default;
}

.regolare {
    border: 3px solid green;
    background-color: green;
}

.irregolare {
    border: 3px solid red;
    background-color: red;
}

.ferie {
    border: 3px solid orange;
    background-color: orange;
}

.malattia {
    border: 3px solid purple;
    background-color: purple;
}

.permesso {
    border: 3px solid yellow;
    background-color: yellow;
}
.dipnontrovato {
    background-color: #ebd4d4;
    border: 2px solid #dd5b5b;
    color: #a94442;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 50%; /* Imposta la larghezza al 50% */
    margin: auto; /* Per centrare l'elemento orizzontalmente */
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.6); 
   
}


.modal-content {
    background-color: #fff;
    margin: 10% auto; 
    padding: 30px; 
    border: none; 
    width: 60%; 
    max-width: 600px;
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); 
    animation: fadeIn 0.5s ease-in-out; 
    font-family: 'Arial', sans-serif; 
}

.benvenuto {
    background-color: rgb(223, 213, 213);
    border: 2px solid rgb(91, 202, 221);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 50%; /* Imposta la larghezza al 50% */
    margin: auto; /* Per centrare l'elemento orizzontalmente */
}




