.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.search:focus {
    border-color: #ffffff;
    outline: none;
}

.search-btn {
    background-color: rgba(0, 0, 0, 0.774); 
    
    color: rgb(255, 255, 255); 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .search-btn:hover 
  {
    background-color: rgba(255, 255, 255, 0.5); 
    color: #000; 
  }

.nav-month 
{
    display:flex;
    width: 100%;
    justify-content: center;
}

.form-month 
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.month-selector
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 20px;
}

.month-selector button 
{
    background-color: rgb(94, 224, 224);
    border: none;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.month-selector button:hover 
{
    background-color: rgb(168, 235, 235);
    color: #000;
}

.month-selector #current-month 
{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0 40px; 
    text-transform: capitalize; 
}


.dipnontrovato {
    background-color: rgb(248, 69, 69);
    color:#000;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    text-align: center;
    font-size: 25px;
    border:solid, pink, 2px;
    width: 50%;
}
.calendar-container {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px; 
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px; 
    width: 100%;
}

.calendar .day,
.calendar .day-of-week {
    padding: 10px; 
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f9fa;
    transition: background-color 0.3s, transform 0.3s;
    box-sizing: border-box;
    font-size: 18px; 
}

.calendar .day-of-week {
    background-color: #ececec;
    font-weight: bold;
}

.calendar .day:hover {
    background-color: #e9e9e9;
    transform: scale(1.05);
}

.day.empty {
    background-color: transparent;
    border: none;
    cursor: default;
}

.regolare {
    border: 3px solid green;
    background-color: green;
}

.irregolare {
    border: 3px solid red;
    background-color: red;
}

.ferie {
    border: 3px solid orange;
    background-color: orange;
}

.malattia {
    border: 3px solid purple;
    background-color: purple;
}

.permesso {
    border: 3px solid yellow;
    background-color: yellow;
}

.dipnontrovato {
    background-color: rgb(248, 69, 69);
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    text-align: center;
    font-size: 25px;
    border: solid pink 2px; 
    width: 30%;
}

#programmazioneModal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


#modalTitle {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}


#programmazioneForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    font-size: 16px;
    color: #555;
}


input[type="time"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}


button{
    background-color: rgb(94, 224, 224);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgb(168, 235, 235);
}


#current-month {
    text-transform: capitalize;
}
.content {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}







