.search-container {
    display: flex;
   
    justify-content: center;
    margin-top: 20px;
}

/* Stile per la casella di ricerca */
#search {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  
    font-size: 16px;
    width: 200px;
}

/* Stile per il pulsante di ricerca */
#search-button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.658); /* Imposta il colore del bottone a nero trasparente */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

/* Effetto al passaggio del mouse sul pulsante di ricerca */
#search-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Imposta un effetto di sfondo leggermente grigio al passaggio del mouse */
    color: black;
}

/* Stile del calendario */
.calendar-container {
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Stile del selettore del mese */
.month-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.month-nav button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #91bfca;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}
.month-nav button:hover {
    background-color: #6299a7;
}

.calendar-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#current-month {
    font-size: 1.5em;
    font-weight: bold;
}

#prev-month, #next-month {
    background-color: rgb(133, 221, 224);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#prev-month:hover, #next-month:hover {
    background-color: rgb(93, 189, 192);
    color: rgb(0, 0, 0);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    padding: 15px;
    background-color: #e9ecef;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none; 
}

.day:hover {
    background-color: #ced4da;
}


