.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.search:focus {
  border-color: #ffffff;
  outline: none;
}

.search-btn {
  background-color: rgba(0, 0, 0, 0.774);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.search-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}


/**/
.riquadro {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 45%;
  float: left;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.riquadro h2 {
  margin-top: 0;
  font-size: 1.2em;
  color: #333;
}

.riquadro form {
  margin-top: 10px;
}

.riquadro label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.riquadro input[type="number"] {
  width: 20%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}


.lista-richieste {
  list-style-type: none;
  padding: 0;
}

.lista-richieste li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content:space-between;
}

.lista-richieste li button {
  margin-left: 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.lista-richieste li button.btn-accetta {
  background-color: #4CAF50;
  color: white;
}

.lista-richieste li button.btn-rifiuta {
  background-color: #f44336;
  color: white;
}

.lista-richieste li button:hover {
  background-color: #ddd;
}

.inline-form {
  display: inline;
}

.btn {
  margin-left: 10px;
}

.esito-postivio{
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
}

.esito-negativo{
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  margin-right: 10px;
}
.form-group span {
  width: 60%;
}

.form-group input[type="number"] {
  width: 15%;
  margin-right: 10px;
  flex-grow: 1;
}

.form-group button {
  margin-left: 10px;
}

.blue-button {
  background-color: rgb(44, 44, 230);
  color: white;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.blue-button:hover {
  background-color: darkblue;
}
.dipnontrovato {
  background-color: #f44336;
  border: groove, pink, 2px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
}
.benvenuto {
  background-color: rgb(223, 213, 213);
  border: 2px solid rgb(91, 202, 221);
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 50%; /* Imposta la larghezza al 50% */
  margin: auto; /* Per centrare l'elemento orizzontalmente */
}