.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

.testo {
    color: white; 
    background-color: rgba(0, 0, 0, 0.856); 
    font-family: 'Courier New', Courier, monospace; 
    max-width: 800px;
    margin: 50px auto;
    padding: 20px; 
    text-align: center;
}

.company-name {
    font-family: "Times New Roman", serif;
    font-size: 2.5em;
    color: white; 
    background-color: rgba(0, 0, 0, 0.856); 
    text-transform: uppercase;
    letter-spacing: 2px;
 
}
.login-link-container {
    text-align: center; 
}

.login-link {
    color: #000000; 
    text-decoration: none;
    font-weight: bold; 
    font-size: 16px; 
    padding: 5px 10px;
    border: 2px solid #030303; 
    border-radius: 5px; 
    background-color: rgb(255, 255, 255); 
}


.login-link:hover {
    background-color: rgba(0, 0, 0, 0.5); 

    color: #fff; 
}
.azienda {
     background-color: rgb(223, 213, 213);
    border: 2px solid rgb(91, 202, 221);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 50%; /* Imposta la larghezza al 50% */
    margin: auto; /* Per centrare l'elemento orizzontalmente */

}